.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    backdrop-filter: blur(2px);
    background-color: ghostwhite;
}
.column {
    max-width: 380px;
    max-height: 280px;
    flex-basis: 50%;
    padding: 30px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}