.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    backdrop-filter: blur(2px);
    background-color: ghostwhite;
    flex-direction: column;
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
}
.column {
    max-width: 380px;
    max-height: 215px;
    flex-basis: 50%;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}
.subtitle {
    line-height: 1;
    margin-top: 0;
    text-align: center;
}