.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    backdrop-filter: blur(2px);
}
.column {
    flex-basis: 50%;
    padding: 30px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: #fff;

}